// Custom styles.
.main-inner{
	margin-top:56px;
}

.post-button{
	text-align:center;
	margin-top:55px;
}
.post-button .btn{
	background:#222;
	color:white;
	width:100px;
	border:2px solid #222;
	border-radius:0;
	transition-property:background-color;
}
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 7px rgba(202, 203, 203, .7);
  -moz-box-shadow: 0 0 7px rgba(202, 203, 204, .7);
 }

 .footer .footer-inner{
 	font-size:16px;
 	font-family:'Comic Sans MS',sans-serif;
 }